* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: #11FAFE;
  font-family: Monospace;
  color: #0C59E8;
}

body:hover {
  background-color: white;
}
/*---------------------------------------------*/

ul.breadcrumb {
  padding: 8px 12px;
  list-style: none;
  background-color: white;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/*---------------------------------------------*/

/* width */
::-webkit-scrollbar {
	width: 10px;
	background-color: #0C59E8;
}

/* Track */
::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: white;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
   	border-radius: 10px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#0C59E8),
									   to(#0C59E8),
									   color-stop(.6,#54DE5D))
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:  #42b792;
}

/*---------------------------------------------*/
a {
    color: black;
    text-decoration: none;
}

a:hover {
  background-color: #FE1111;
  color: white;
}

h1{
  font-size: 35px;
}

h1:hover {
  color: #E80C0C;
}

h2{
  font-size: 22px;
  margin-top: 25px;
  margin-bottom: 20px;
}

p{
  font-size: 20px;
  color: black;
}

p2{
  color: black;
  font-size: 14px;
}

ul.a {
  list-style-position: outside;
}
/*---------------------------------------------*/
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
  height: 750px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

/*---------------------------------------------*/
.container {
    width: 70vw;
    height: 70vh;
    top: 3vh;
    position: relative;
    margin: 0 auto;
}
.hidden {
    width: 80%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #11FAFE;
}
.box{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.text {
    width: 250px;
    height: 200px;
    color: #F70000;
    bottom: 0;
    right: 0;
    position: absolute;
}

.box:nth-child(1){
  background-image: url("../images/paintings/2013-Abdurrohmanwahid-urbanwall1-acrilic on canvas-140cm x 90cm.jpg");
}
.box:nth-child(2){
  background-image: url("../images/paintings/2018-abdurrohmanwahid_chairs_acryliconcanvas_100cmx100cm.jpg");
}
.box:nth-child(3){
  background-image: url("../images/paintings/2020-hope and fear- acrylic on canvas- 100 cm x 100 cm.jpg");
}

/*---------------------------------------------*/

nav{
    position: relative;
    top: 50%;
    width: 100%;
}
.next {
    transform: rotate(90deg);
    letter-spacing: 20px;
    position: absolute;
    width: 100px;
    top: 40vh;
    right: 0;
}
.prev {
    transform: rotate(-90deg);
    letter-spacing: 20px;
    position: absolute;
    width: 100px;
    top: 40vh;
    left: 0;
}

.footer {

   position: fixed;
   left: 0;
   bottom: 0;
   padding: 10px;
   width: 100%;
   background-color: white;
   color: #0C59E8;
   text-align: center;
}

/